# Node.js
node_modules/

# TestCafe screenshots and reports
*.png
*.html
reports/

# TestCafe configuration
config.json

# Logs
logs/

# Visual Studio Code
.vscode/

# Operating System Files
.DS_Store
Thumbs.db
